body {
	background-color:#FFF0F5;
	font-family: Helvetica, Arial, sans-serif;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 40px;
	margin-right: 40px;
	}
	
nav {
	text-align: center;
	}

h1 {
	font-family: "times new roman", times, serif;
	color: #DA70D6;
	}

h2 {
	font-family: "times new roman", times, serif;
	color: #DA70D6;
	}